@charset "UTF-8";
html,
body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
ol,
dl,
dt,
dd,
table,
tr,
td,
p,
a,
img,
section,
header,
nav,
footer,
main,
input {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background: #fff;
  color: #5a5a5a;
  font-family: "Helvetica Neue", Helvetica, STHeiTi, sans-serif !important;
}
img {
  display: block;
  width: 100%;
}
input,
button,
img,
textarea {
  border: none;
  outline-style: none;
}
a {
  text-decoration: none;
  color: #5a5a5a;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
a:hover {
  color: #5a5a5a;
}
li {
  list-style: none;
}
h1,
h2,
h3,
h5,
h4,
h6 {
  font-size: 100%;
  font-weight: normal;
}
i,
em {
  font-style: normal;
}
.one-txt-cut {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.text_cut {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.clearfix::after {
  content: "";
  display: block;
  height: 0;
  line-height: 0;
  visibility: hidden;
  clear: both;
}
.clearfix {
  zoom: 1;
}
header {
  background-color: #ff841d;
  height: 0.839979rem;
  overflow: hidden;
  width: 100%;
}
header .h_buy {
  float: left;
  width: 3.413248rem;
  height: 0.466655rem;
  margin-left: 0.226661rem;
  margin-top: 14px;
}
header .h_buy a {
  display: block;
  height: 100%;
  width: 100%;
}
header .h_buy img {
  display: block;
  width: 3.413248rem;
}
header .h_downLoad {
  float: right;
  width: 0.613318rem;
  height: 0.613318rem;
  margin-right: 0.226661rem;
  margin-top: 0.1133305rem;
}
header .h_downLoad a {
  display: block;
  height: 100%;
  width: 100%;
}
header .h_downLoad a img {
  width: 100%;
}
.search {
  height: 0.959976rem;
  padding: 0.186662rem;
  width: 100%;
  position: relative;
}
.search .search_s {
  height: 0.573319rem;
  width: 100%;
  position: relative;
}
.search .search_s .search_content {
  position: absolute;
  background-color: #f1f1f1;
  top: 0;
  width: 100%;
  height: 100%;
  display: block;
  padding: 0 0.293326rem;
  border-radius: 0.26666rem;
}
[data-dpr='1'] .search .search_s .search_content {
  font-size: 16px;
}
[data-dpr='2'] .search .search_s .search_content {
  font-size: 32px;
}
[data-dpr="3"] .search .search_s .search_content {
  font-size: 48px;
}
.search .search_s .s_b {
  width: 1.213303rem;
  height: 100%;
  position: absolute;
  background-color: #ff841d;
  border-radius: 0.26666rem;
  right: 0;
  color: white;
}
[data-dpr='1'] .search .search_s .s_b {
  font-size: 16px;
}
[data-dpr='2'] .search .search_s .s_b {
  font-size: 32px;
}
[data-dpr="3"] .search .search_s .s_b {
  font-size: 48px;
}
footer {
  margin-top: 0.13333rem;
  height: 1.826621rem;
}
.login ul {
  display: flex;
}
.login ul li {
  float: left;
  flex: 1;
  text-align: center;
  border: 1px solid #ccc;
  height: 0.653317rem;
  line-height: 0.653317rem;
  /**
       * Created by aaaaa on 2017/7/23.
       */
}
[data-dpr='1'] .login ul li a {
  font-size: 14px;
}
[data-dpr='2'] .login ul li a {
  font-size: 28px;
}
[data-dpr="3"] .login ul li a {
  font-size: 42px;
}
.login ul li:nth-child(1) {
  border-right: none;
}
.login ul li:nth-child(3) {
  border-left: none;
}
.footer_download {
  padding: 0.373324rem;
  text-align: center;
}
.footer_download a {
  margin-right: 0.026666rem;
}
.footer_download .down {
  color: red;
}
.footer_download .mobile {
  color: #000;
}
.footer_download .compare {
  color: #8d8d8d;
}
header {
  position: relative;
  background-color: #f4483e;
}
header .h_buy,
header .h_downLoad {
  position: absolute;
}
header .h_buy {
  height: 100%;
  left: 0.319992rem;
  top: 0;
  margin-left: 0;
  margin-top: 0;
}
header .h_buy a {
  display: block;
  height: 100%;
  line-height: 0.839979rem;
  color: white;
  font-family: inco;
}
[data-dpr='1'] header .h_buy a {
  font-size: 32px;
}
[data-dpr='2'] header .h_buy a {
  font-size: 64px;
}
[data-dpr="3"] header .h_buy a {
  font-size: 96px;
}
header .h_downLoad {
  height: 100%;
  right: 0.13333rem;
  top: 50%;
  transform: translateY(-50%);
}
header .moneyCrl {
  height: 100%;
  width: 100%;
  text-align: center;
  color: white;
  line-height: 0.839979rem;
}
[data-dpr='1'] header .moneyCrl {
  font-size: 16px;
}
[data-dpr='2'] header .moneyCrl {
  font-size: 32px;
}
[data-dpr="3"] header .moneyCrl {
  font-size: 48px;
}
.nav {
  overflow: hidden;
  border-bottom: 8px solid #f1f1f1;
}
.nav .nav_box {
  margin-left: 0.26666rem;
  width: 200%;
}
.nav .nav_box li {
  float: left;
  height: 0.733315rem;
  line-height: 0.733315rem;
  padding: 0 0.093331rem;
}
.nav .nav_box li a {
  display: block;
  height: 100%;
  padding: 0 0.13333rem;
}
[data-dpr='1'] .nav .nav_box li a {
  font-size: 14px;
}
[data-dpr='2'] .nav .nav_box li a {
  font-size: 28px;
}
[data-dpr="3"] .nav .nav_box li a {
  font-size: 42px;
}
.nav .nav_box .flag {
  border-bottom: 2px solid red;
}
.nav .nav_box .flag a {
  color: red;
}
.product ul li {
  padding: 0.26666rem 0.26666rem;
  height: 2.453272rem;
  position: relative;
  width: 100%;
}
.product ul li .product_img {
  position: absolute;
}
.product ul li .product_img a {
  display: block;
}
.product ul li .product_img a img {
  display: block;
  width: 1.919952rem;
  height: 1.919952rem;
}
.product ul li .product_content {
  height: 100%;
  margin-left: 1.919952rem;
  padding-left: 0.26666rem;
}
.product ul li .product_content .product_price {
  margin-top: 0.13333rem;
}
[data-dpr='1'] .product ul li .product_content .product_price {
  font-size: 14px;
}
[data-dpr='2'] .product ul li .product_content .product_price {
  font-size: 28px;
}
[data-dpr="3"] .product ul li .product_content .product_price {
  font-size: 42px;
}
.product ul li .product_content .product_price span {
  color: #ff6c00;
}
.product ul li .product_content .product_date {
  color: gray;
}
[data-dpr='1'] .product ul li .product_content .product_date {
  font-size: 12px;
}
[data-dpr='2'] .product ul li .product_content .product_date {
  font-size: 24px;
}
[data-dpr="3"] .product ul li .product_content .product_date {
  font-size: 36px;
}
.product ul li .product_content .product_date .product_date {
  float: left;
}
.product ul li .product_content .product_date .product_comment {
  float: right;
  padding-left: 0.346658rem;
  position: relative;
}
.product ul li .product_content .product_date .product_comment .paroduct_msg {
  position: absolute;
  width: 0.293326rem;
  height: 0.26666rem;
  left: 0;
  background: url('../images/comment.svg') no-repeat center;
  top: -0.039999rem;
}
.product ul li .product_content > div {
  margin-top: 0.13333rem;
}
.product .moneyBack {
  color: #fc353a;
  font-size: 24px;
  padding-top: 0.053332rem;
  position: relative;
}
[data-dpr='1'] .product .moneyBack em {
  font-size: 12px;
}
[data-dpr='2'] .product .moneyBack em {
  font-size: 24px;
}
[data-dpr="3"] .product .moneyBack em {
  font-size: 36px;
}
.product .moneyBack del {
  color: #a8a8a8;
  margin-left: 0.26666rem;
}
[data-dpr='1'] .product .moneyBack del {
  font-size: 14px;
}
[data-dpr='2'] .product .moneyBack del {
  font-size: 28px;
}
[data-dpr="3"] .product .moneyBack del {
  font-size: 42px;
}
.product .curly .bar i {
  height: 0.239994rem;
  width: 2.186612rem;
  border: 1px solid #fc353a;
  border-radius: 6px;
  color: #fff;
  font-weight: 900;
  background: #ffb7b7;
  text-align: center;
  overflow: hidden;
  display: inline-block;
  position: relative;
}
.product .curly .bar i em {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  border-radius: 5px;
  background: #fc353a;
  display: block;
  transition: all 0.3s cubic-bezier(0.39, 0.58, 0.57, 1);
}
.product .curly .bar i span {
  line-height: 0.239994rem;
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  position: absolute;
  font-style: normal;
  top: 0;
  left: 0;
}
[data-dpr='1'] .product .curly .bar i span {
  font-size: 12px;
}
[data-dpr='2'] .product .curly .bar i span {
  font-size: 24px;
}
[data-dpr="3"] .product .curly .bar i span {
  font-size: 36px;
}
.product .curly .bar b {
  font-weight: normal;
  margin-left: 0.199995rem;
  color: #fc353a;
}
[data-dpr='1'] .product .curly .bar b {
  font-size: 12px;
}
[data-dpr='2'] .product .curly .bar b {
  font-size: 24px;
}
[data-dpr="3"] .product .curly .bar b {
  font-size: 36px;
}
.product .p_date {
  float: left;
}
.product .p_date a {
  width: 2.106614rem;
  height: 0.493321rem;
  line-height: 0.493321rem;
  text-align: center;
  color: #e4393c;
  display: block;
  border: 1px dotted #e4393c;
}
.product .product_comment a {
  color: #fff;
  display: block;
  background: #ff5e5d;
  height: 0.479988rem;
  line-height: 0.479988rem;
  width: 1.053307rem;
  text-align: center;
  border-radius: 0.066665rem;
}
